.services-container-all {
    display: flex;
    justify-content: center;
}

.services-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-container {
    width: 22%;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-style {
    padding: 10% 0 10% 0;
    text-align: center;
}

.card-img {
    width: 70%;
    border-radius: 50%;
    border: 12px solid rgba(14, 14, 14, 0.32);;
}

.card-text {
    padding: 5%;
}

.arrows {
    display: none;
}

.join-button-1 {
    width: 65%;
    width: 154px;
    height: 48px;
    border: 1px solid rgba(48, 44, 66, 1);
    border-radius: 40px;
    background: linear-gradient(to right,rgba(129, 118, 175, 1), rgba(192, 183, 232, 1));
    color: rgba(48, 44, 66, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6vh;
    line-height: 2vh;
    line-height: 100%;
    vertical-align: top;
}


@media screen and (max-width: 750px) {
    #CardImg2 {
        display: none;
    }
    #CardImg3 {
        display: none;
    }
    #CardImg4 {
        display: none;
    }
    
    .services-container {
        justify-content: center;
    }

    .card-container {
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card-style {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .arrow-left {
        width: 35%;
        height: 10%;
        padding: 0% 8% 0% 0%;
        border-radius: 50%;
        background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
    }

    .arrow-right {
        border-radius: 50%;
        background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
    }

    /* .ArrowLeft {
        padding: 50%;
        border-radius: 80%;
        background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
    } */
}