.introduction-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0% 5% 0%;
}

.introduction-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction-h1 {
    font-size: 30px;
}

.introduction-h2 {
    font-size: 25px;
    font-weight: lighter;
}

.introduction-p {
    width: 100%;
    font-weight: 500;
    line-height: 15px;
}

.introduction-header-container {
    display: flex;
    width: 100%;
}

.introduction-vector {
    display: flex;
    align-items: center;
    margin-top: 5%;
}


@media screen and (max-width: 750px) {
    .introduction-p {
        display: none;
    }

    .introduction-header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .introduction-header-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .introduction-vector {
        display: none;
    }
}
