.technologies-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0 0 0;
}

.technologies-img {
    background-size: cover;
    background-position: top center;
    padding: 10% 0 10% 0;
    width: 100%;
    border-radius: 150px;;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.technologies-h1 {
    font-weight: lighter;
}

.arrow-container {
    margin-top: -4%;
}

.arrow-down {
    margin-top: 40%;
    padding: 35% 20% 35% 20% ;
    width: 140%;
    height: 50%;
    border-radius: 50%;
    border: 10px solid black;
    background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
}

.technologies-logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.technologies-logo > img {
    width: 100%;
}

.ArrowLeft {
    display: none;
}

.ArrowRight {
    display: none;
}

@media screen and (max-width: 750px) {

    .technologies-h1-first {
        font-size: 140%;
    }

    .arrow-container {
        display: none;
    }

    .technologies-logo {
        display: none;
    }

    .technologies-logo-main {
        display: flex;
        align-items: center;
        padding: 5%;

    }

    .technologies-logo-main > div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
    }

    .technologies-img {
        background-position: center center;
    }

    .ArrowLeft {
        display: block;
        margin-left: 10px;
        margin-top: 8px;
    }

    .ArrowRight {
        display: block;
    }
}
