.headerContact-container-all {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.headerContact-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 90px;
}

.headerContact {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContact > img {
    padding: 2%;
}

.headerContact-call {
    width: 70%;
    display: flex;
    align-items: center;
    border-left: 0.1px solid rgba(192, 183, 232, 0.33);
    border-right: 0.1px solid rgba(192, 183, 232, 0.33);
    padding: 0% 1% 0% 1%;
}

.headerContact-call > img {
    padding: 2%;
}

.headerContact-arrows {
    display: none;
}



@media screen and (max-width: 900px) {
    .headerContact-container > div {
        padding: 0;
    }
    div.headerContact-call {
        padding: 0 10px 0;
    }
    div.headerContact{
        padding-left: 10px;
    }
}

@media screen and (max-width: 750px) {
    .headerContact-container {
        flex-direction: column;
        border-radius: 0;
        background: none;
        margin-top: 20px;
    }
    .headerContact-container > div {
        display: flex;
        justify-content: space-evenly;
        border-radius: 90px;
        background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%)
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        padding: 15px;
        margin-top: 15px;
    }


    .headerContact {
        display: flex;
        justify-content: center;
    }

    .headerContact > div {
        padding: 1%;
    }

    .headerContact > div > h2 {
        display: none;
    }

    .headerContact-arrows {
        display: block;
    }

    #header-1 {
        display: none;
    }
    #header-2 {
        display: none;
    }
}

